<div class="row mt-3 bg-success-subtle text-success-emphasis p-3 m-3 border rounded fw-light">
  <h3 class="text-start text-sm-start text-md-center mb-4">
    Explorez des sujets techniques de plusieurs disciplines à travers de questions-réponses
  </h3>

  <!-- Affichage des posts ou du spinner en fonction de isLoading -->
  <div *ngIf="isLoading; else elseBlock">
    <!-- Affichage des posts -->
    <div class="text-center">
      <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

  </div>

  <!-- Template pour le spinner de chargement -->
  <ng-template #elseBlock>
    <app-content-list [posts]="posts"></app-content-list>
  </ng-template>
    <!-- Pagination -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
          <a class="page-link" (click)="changePage('prev')">&laquo;</a>
        </li>
        <li *ngFor="let page of [].constructor(lastPage); let i = index" class="page-item" [ngClass]="{ 'active': i + 1 === currentPage }">
          <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
        </li>
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === lastPage }">
          <a class="page-link" (click)="changePage('next')">&raquo;</a>
        </li>
      </ul>
    </nav>
</div>
