<nav class="navbar navbar-expand-md ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="codeinfo.png" alt="Logo" class="img-fluid" id="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <div class="ms-auto d-flex flex-column flex-md-row gap-2" id="navbar-buttons">
        <button class="btn btn-outline-info" [routerLink] ="['/login']">Se connecter</button>
        <button class="btn btn-info text-white" [routerLink] ="['/register']">S'inscrire</button>
      </div>
    </div>
  </div>
</nav>
